DEV:srvc_hpswomt_dev:vertica.air1:swair-vrt-dev-llb2.itcs.softwaregrp.net:5433:air
SIT:srvc_hpsw_sit_all:Vertica2Fast:swair-vrt-sit-llb2.itcs.softwaregrp.net:5433:air_sit
ITG:srvc_hpsw_itg_all:Vertica2Fast:swair-vrt-itg-llb2.itcs.softwaregrp.net:5433:air_ITG
PRD:srvc_hpsw_pro_all:Micro17Focus:swair-vrt-pro-llb2.itcs.softwaregrp.net:5433:air_PRO

